# Set default behavior to force LF line endings.
* text eol=lf

# Force LF line endings for files that should always be LF (especially for Linux containers)
*.sh text eol=lf
*.bash text eol=lf
Dockerfile text eol=lf
docker-compose.yml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

# Denotate all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flac binary
*.zip binary
*.gz binary
*.7z binary
